# Assignment Day 2 | 9th December 2020

Question 1:

Try 5 Different functions of the String in Python.
For example - index, split function.

In [2]:
name = "naveen"

In [5]:
name.capitalize()

'Naveen'

In [7]:
name = "Naveen"

In [8]:
name.casefold()

'naveen'

In [ ]:
name = "Naveen Gatla BVRIT"

In [27]:
name.encode()

b'Naveen Gatla BVRIT'

In [29]:
name.find("N")

0

In [31]:
name.replace("N","A")

'Aaveen Gatla BVRIT'

Question 2:

Try 5 Different functions of the List object in Python

In [51]:
lst = ["Naveen", 34, "Sunil", 8, "Chary", 66, 1,2,3, "Rana", 0.3]

In [52]:
lst

['Naveen', 34, 'Sunil', 8, 'Chary', 66, 1, 2, 3, 'Rana', 0.3]

In [53]:
lst.count('Naveen')

1

In [56]:
lst.insert(0, "Gatla")

In [57]:
lst

['Gatla', 'Naveen', 34, 'Sunil', 8, 'Chary', 66, 1, 2, 3, 'Rana', 0.3]

In [58]:
lst.pop(0)

'Gatla'

In [59]:
lst

['Naveen', 34, 'Sunil', 8, 'Chary', 66, 1, 2, 3, 'Rana', 0.3]

In [63]:
lst = [8,6,5,4,2,1,7,99]

In [64]:
lst.sort()

In [65]:
lst

[1, 2, 4, 5, 6, 7, 8, 99]

In [66]:
lst.reverse()
print(lst)

[99, 8, 7, 6, 5, 4, 2, 1]

In [68]:
lst = [2,8,7,4,5,10]
lst.reverse()
print(lst)

[10, 5, 4, 7, 8, 2]

In [69]:
# use [] for list, () for tuple, {} for dictionary

Question 3:

Experiment with at least 5 default functions of Dictionary

In [91]:
dit = {"Student1":{"Name":"Naveen","Roll NO": 34, "Age" : 22},"Student2":{"Name":"Chary","Roll NO": 66, "Age" : 23}}

In [77]:
dit.get("Student1").get("Name")

'Naveen'

In [78]:
dit.items()

dict_items([('Student1', {'Name': 'Naveen', 'Roll NO': 34, 'Age': 22}), ('Student2', {'Name': 'Chary', 'Roll NO': 66, 'Age': 23})])

In [79]:
dit.copy()

{'Student1': {'Name': 'Naveen', 'Roll NO': 34, 'Age': 22},
 'Student2': {'Name': 'Chary', 'Roll NO': 66, 'Age': 23}}

In [84]:
Name = ("Name","Name1","Name2")
Value = ("Naveen")
dict1 = dict.fromkeys(Name,Value)
dict1

{'Name': 'Naveen', 'Name1': 'Naveen', 'Name2': 'Naveen'}

In [86]:
dict1.keys()

dict_keys(['Name', 'Name1', 'Name2'])

In [92]:
dit

{'Student1': {'Name': 'Naveen', 'Roll NO': 34, 'Age': 22},
 'Student2': {'Name': 'Chary', 'Roll NO': 66, 'Age': 23}}

In [93]:
dit.popitem()

('Student2', {'Name': 'Chary', 'Roll NO': 66, 'Age': 23})

In [94]:
dit

{'Student1': {'Name': 'Naveen', 'Roll NO': 34, 'Age': 22}}